# PRACTICAL 6
# Write a Pandas program to implement following operation

In [1]:
import numpy as np
import pandas as pd

**1. To convert a NumPy array to a Pandas series**

In [2]:
arr = np.random.randint(1,11,size=(10))
ser = pd.Series(arr)
print(ser)

0    10
1     4
2     4
3     6
4    10
5    10
6     7
7     3
8     7
9     4
dtype: int64

**2. To convert the first column of a DataFrame as a Series**

In [3]:
df = pd.DataFrame({'Enrollment':[60,61,64,71,74,76],'Name':['Uday','Asfak','Rudra','Dharmit','Shivam','Shafin'],'SPI':[9.62,8.07,7.97,8.65,8.90,8.87]})
print("DataFrame\n",df)
series = pd.Series(df['Enrollment'])
print("Series\n",series)

DataFrame
    Enrollment     Name   SPI
0          60     Uday  9.62
1          61    Asfak  8.07
2          64    Rudra  7.97
3          71  Dharmit  8.65
4          74   Shivam  8.90
5          76   Shafin  8.87
Series
 0    60
1    61
2    64
3    71
4    74
5    76
Name: Enrollment, dtype: int64

**3. To create the mean and standard deviation of the data of a given Series**

In [4]:
print("Series\n",ser)
print()
print("The Mean of series : ",np.mean(ser))
print()
print("The Standard Derivation of series : ",np.std(ser))

Series
 0    10
1     4
2     4
3     6
4    10
5    10
6     7
7     3
8     7
9     4
dtype: int64

The Mean of series :  6.5

The Standard Derivation of series :  2.6172504656604803

**4. To sort a given Series**

In [5]:
print("The Sorted Series\n",ser.sort_values())

The Sorted Series
 7     3
1     4
2     4
9     4
3     6
6     7
8     7
0    10
4    10
5    10
dtype: int64